<td class="table-division">
  <div>{{this.course_name}}</div>
</td>
<td class="table-division">
  <div>{{this.course_difficulty}}</div>
</td>
<td class="table-division">
  <div>{{this.course_videos}}</div>
</td>
<td class="table-division">
  <a href="/course-edit/{{this._id}}" data-id-course="{{this._id}}" class="fa fa-edit table-icon edit-icon">Edit</a>
</td>
<td class="table-division">
  <button href="/course-delete/{{this._id}}" class="fa fa-trash table-icon delete-icon" data-id-video="{{this._id}}"
    aria-hidden="true">Delete</button>
</td>