<td class="table-division">
  <div>{{this.name}}</div>
</td>
<td class="table-division">
  <div>{{this.url}}</div>
</td>
<td class="table-division">
  <div>{{this.difficulty_tag}}</div>
</td>
<td class="table-division">
  <div>{{this.description}}</div>
</td>
<td class="table-division">
  <div>{{this.front_end}}</div>
</td>
<td class="table-division">
  <div>{{this.back_end}}</div>
</td>
<td class="table-division">
  <a href="/video-edit/{{this._id}}" data-id-video="{{this._id}}" class="fa fa-edit table-icon edit-icon">Edit</a>
</td>
<td class="table-division">
  <button href="/video-delete/{{this._id}}" class="fa fa-trash table-icon delete-icon" data-id-video="{{this._id}}"
    aria-hidden="true">Delete</button>
</td>