<td class="table-division">
  <div>{{this.name}}</div>
</td>
<td class="table-division">
  <div>{{this.url}}</div>
</td>
<td class="table-division">
  <div>{{this.difficulty_tag}}</div>
</td>
<td class="table-division">
  <div>{{this.description}}</div>
</td>
<td class="table-division">
  <div>{{this.front_end}}</div>
</td>
<td class="table-division">
  <div>{{this.back_end}}</div>
</td>
<td class="table-division">
  <div>{{this._id}}</div>
</td>

<td class="table-division">
  <input type="checkbox" name="course_videos" id="{{this._id}}" class="video-checkbox" value="{{this._id}}">
</td>