{{#if user}}
<div class="container__profile">
  <div class="profile-background">
    <h1 class="welcome__msg">Welcome to your profile page<span class="bold__grey">{{user.username}}</span></h1>
    {{/if}}


    <img src="{{user.profilePhoto}}" class="profileImg" />

    {{#unless user.profilePhoto}}
    <h2>No profile picture! <br> Please upload your photo</h2>
    {{/unless}}

    <form id="photoForm" action="/profile" method="post" enctype="multipart/form-data">
      {{!-- <span class="fileName">select the profile picture</span> --}}
      {{!-- <div class="photoBox"> --}}
      <input type="file" name="profilePhoto" class="photoInput">
      {{!--  --}}
      {{!-- </div> --}}
      <button type=" submit" class="saveBut">Save profile picture</button>
    </form>
  </div>
</div>
</div>
</div>

<h1 class="username_style">{{user.username}}</h1>


{{!-- {{/if}} --}}
<div class="choice_profile">
  {{!--<h4>Make your choices</h4> --}}
  <br>
  <div class="move_level">
    <label for="level" class="choices">Choose your level</label>
    <select name="level" id="level-select" value="{{this.level}}">
      <option value="" selected disabled hidden>Level</option>
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Master">Master</option>
    </select>
  </div>
  <br>

  <label for="course" class="choices choices-course">Choose your course</label>
  <select name="course" id="course-select">
    <option value="" selected disabled hidden>Course</option>
    <option value="" disabled>Select your level first</option>

  </select>
  <br>
  <div class="btn-course">
    <button id="follow-course-btn">Follow this course</button>
  </div>
</div>
<div id="msg-box"></div>

<div class="descr">
  <h1 class="descri">Hey, i'm {{user.username}}!</h1>
  <p class="userDescription">I am really excited to be part of <br> the Hizzy/Learn community. <br> I have chosen
    the
    {{user.level}} level and <br> I am currently following the {{user.cursus}} cursus. <br> Let's the journey
    begin!
</div>

{{#if message }}
<div class="error-message w50">{{message}}</div>
{{/if}}





{{#if viewedVideos}}
<h4>Viewed videos</h4>
<div id="viewed-div">
  {{#each viewedVideos}}
  <iframe class=" youtube-player" type="text/html" width="332" height="200" src="{{this.url}}"></iframe>
  <label for="remove-viewed">Remove from viewed list</label>
  <button class="remove-viewed-btn" id="{{this._id}}">Remove</button>
  {{!-- <input type="checkbox" name="remove-viewed" id="{{this._id}}"> --}}
  {{/each}}
</div>
{{/if}}