{{#if user}}
<h1 class="welcome__msg">Welcome back<span class="bold__grey">{{user.username}}</span></h1>
{{/if}}

<img src="{{user.profilePhoto}}" class="profileImg" />

{{#unless user.profilePhoto}}
<h2>No profile picture! <br> Please upload your photo</h2>
{{/unless}}

<form id="photoForm" action="/profile" method="post" enctype="multipart/form-data">
  {{!-- <span class="fileName">select the profile picture</span> --}}
  {{!-- <div class="photoBox"> --}}
  <input type="file" name="profilePhoto" class="photoInput">
  {{!--  --}}
  {{!-- </div> --}}
  <button type="submit" class="saveBut">Save profile picture</button>
</form>

{{!-- <img src="https://media3.giphy.com/media/113PoJxEaRxKbm/giphy.gif?cid=3640f6095bff0b91325859656f15cb72" alt=""> --}}



{{!-- {{/if}} --}}
<h4>Make your choices</h4>
<label for="level">Choose your level</label>
<select name="level" id="level-select" value="{{this.level}}">
  <option value="" selected disabled hidden>Level</option>
  <option value="Beginner">Beginner</option>
  <option value="Intermediate">Intermediate</option>
  <option value="Master">Master</option>
</select>

<label for="cursus">Choose your course</label>
<select name="cursus" id="cursus-select">
  <option value="" selected disabled hidden>Course</option>
  <option value="" disabled>Select your level first</option>

</select>
<button id="follow-course-btn">Follow this course</button>

{{#if message }}
<div class="error-message w50">{{message}}</div>
{{/if}}
<h1>{{user.username}}</h1>
<p class="userDescription">Profile description.</p>



{{#if viewedVideos}}
<h4>Viewed videos</h4>
<div id="viewed-div">
  {{#each viewedVideos}}
  <iframe class=" youtube-player" type="text/html" width="332" height="200" src="{{this.url}}"></iframe>
  <label for="remove-viewed">Remove from viewed list</label>
  <button class="remove-viewed-btn" id="{{this._id}}">Remove</button>
  {{!-- <input type="checkbox" name="remove-viewed" id="{{this._id}}"> --}}
  {{/each}}
</div>
{{/if}}