{{#if user}}
<h1 class="welcome__msg">Welcome to Juloup app<span class="bold__grey">{{user.username}}</span></h1>
{{/if}}

<img src="{{user.profilePhoto}}" class="profileImg" />

{{#unless user.profilePhoto}}
<h2>No profile picture! <br> Please upload your photo</h2>
{{/unless}}

<form id="photoForm" action="/profile" method="post" enctype="multipart/form-data">
  <span class="fileName">select the profile picture</span>
  {{!-- <div class="photoBox"> --}}
  <input type="file" name="profilePhoto" class="photoInput" onchange="fileSelect(event)">
  {{!--  --}}
  {{!-- </div> --}}
  <button type="submit" class="saveBut">Save profile picture</button>
</form>

{{!-- <img src="https://media3.giphy.com/media/113PoJxEaRxKbm/giphy.gif?cid=3640f6095bff0b91325859656f15cb72" alt=""> --}}



{{!-- {{/if}} --}}

{{#if message }}
<div class="error-message w50">{{message}}</div>
{{/if}}
<h1>{{user.username}}</h1>
<p class="userDescription">Profile description.</p>

{{#if notViewedVideos}}
<h4>Next videos</h4>
{{!-- Initial width : 640 ; height : 385 --}}
{{#each notViewedVideos}}
<iframe class="youtube-player" type="text/html" width="332" height="200 " src="{{this.url}}"></iframe>
<label for="add-viewed">Add to viewed list</label>
<input type="checkbox" name="add-viewed" id="{{this._id}}">
<button>Add</button>
{{/each}}
{{/if}}

{{#if viewedVideos}}
<h4>Viewed videos</h4>
{{#each viewedVideos}}
<iframe class="youtube-player" type="text/html" width="332" height="200" src="{{this.url}}"></iframe>
<label for="remove-viewed">Remove from viewed list</label>
<input type="checkbox" name="remove-viewed" id="{{this._id}}">
<button>Remove</button>
{{/each}}
{{/if}}